body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161b2f;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height according to the top bar height */
  }
  